:root {
    --color-light: beige;
    --color-dark:rgb(83, 25, 15);
    --color-accent: rgb(239, 186, 137);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(1_3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-accent);    
    font-family: sans-serif;
    background-position-y: 30px;
}

svg {
    color: var(--color-light);
    scale: .6;
}


/* ===================== Main Menu Bar ===========================================================================*/
.menu-bar {
    background: var(--color-dark);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    /* justify-content: space-between; */
    margin-right: 5rem;
    list-style: none;
    color: var(color-light);
}

.menu-bar ul:first-child {
    margin-left: 2rem;
}

.menu-bar ul:last-child {
    margin-right: 2rem;
}

.menu-bar ul li {
    width: 125px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: var(--color-light);
}

.active, .menu-bar ul li:hover {
    background: var(--color-accent);
    /* color: var(--color-dark);
    fill: var(--color-dark); */
    border-radius: 3px;
}

.menu-bar svg {
    margin-right: 4px;
    padding: 0;
}

/* ======================== Sub Menus ================================================================================*/
.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: var(--color-dark);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted var(--color-light);
    background-color: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: var(--color-accent);
}


/* ======  Second Sub-Menu ===========================================================*/
.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: var(--color-dark);
}

/* ==============Title bit ======================================================== */

.wrapper {
    margin-top: 2rem;
    display: block;
}

.title {
    width: 30vw;
    background-color: var(--color-dark);
    color: var(--color-accent);
    margin-left: 2rem;
    border-radius: 5px;
    padding: 1rem;
    border: 2px solid var(--color-accent);
}

.home-content {
    width: 60vw;
    background-color: var(--color-accent);
    color: var(--color-dark);
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 5px;
    padding: 1rem;
    border: 2px solid var(--color-dark);
}

.home-content h3 {
    margin-bottom: 1.5rem;
}
.home-content p {
    margin-bottom: 1rem;
}

.home-content a {
    color: var(--color-dark);
    font-weight: bold;
}

/* ========================= Footer =================================================*/
.footer {
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    padding: .5rem;
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* ========================= Media Queries ==============================================*/
@media only screen and (max-width: 600px) {
    .title {
        width: 80vw;
    }

    .menu-bar ul li {
        width: 80px;
        margin: .5rem;
        padding: .5rem;
    }
    .menu-bar ul:first-child {
        margin-left: .4rem;
    }
    
    .menu-bar ul:last-child {
        margin-right: .4rem;
    }

    .menu-bar ul li:hover .sub-menu-1 ul {
        display: block;
        margin: 4px;
    }

    .menu-bar ul li:hover .sub-menu-1 {
        display: block;
        position: absolute;
        background-color: var(--color-dark);
        margin-top: 10px;
        margin-left: 0;
        border-top-left-radius: 5px;
    }

    .hover-me:hover .sub-menu-2{
        position: absolute;
        display: block;
        margin-top: -30px;
        margin-left: 0;
        background-color: var(--color-dark);
    }
   
}
/* =============================End =================================================*/